# ---- 기본 OS 파일 ----
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# ---- Visual Studio / Rider / .NET ----
*.user
*.suo
*.userosscache
*.sln.docstates

# 빌드 결과물
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esults/
*.exe
*.dll
*.pdb
*.cache
*.config
*.dbmdl
*.bak
*.mdf
*.ldf

# 패키지
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json

# DotNet
*.vs/
.vscode/
*.idea/
*.swp
*.lock.json

# ---- Unity ----
# 빌드/라이브러리
